.explor-menu{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 1px rgba(0, 0, 0, 1.2);
}
.explor-menu h1{
    color: #262626;
    font-weight: 500;
}
.explor-menu-text{
    max-width: 60%;
    columns: #808080;
}
.explor-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    text-align: center;
    margin: 15px 0;
    overflow-x: scroll;
}
.explor-menu-list::-webkit-scrollbar{
    display: none;
}
.explor-menu-list-item img{
   width: 7vw;
   min-width: 80px;
   cursor: pointer;
   border-radius: 50%;
   transition: 0.2s;
}
.explor-menu-list-item p{
    margin-top: 10px;
    color: #747474;
    font-size: 16px;
    cursor: pointer;
}
.explor-menu hr{
    margin: 5px 0;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}
.explor-menu-list-item .active{
    border: 4px solid tomato;
    padding: 2px;
}
.explor-menu-list-item:hover{
    transform: scale(0.9);
}

@media(max-width:1050px){
    .explor-menu-text{
        max-width: 100%;
        font-size: 14px;
    }

}

.food-display{
    margin-top: 30px;
}
.food-display h2{
    font-size: 25px;
    font-weight: 600;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}
.food-items:hover{
    transform: scale(1.05);
}