.home-video{
    height: 90vh;
    position: relative; 
    overflow: hidden;
   
}
.home-video video{
    margin-top: 10px;
    width: 80%; 
    height: auto;
    position: fixed;
    top: 100px;
    border-radius: 7px;
}

.home-arrow{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 93%;
    left: 48%;
    border-radius: 50%;
    background-color: tomato;
    cursor: pointer;
}
