.ChangePassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    max-height: 60vh;
}

.ChangePassword h1 {
    color: tomato;
    font-size: 2rem;
    margin-bottom: 20px;
}

.changePassword-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.ChangePassword input[type="email"],
.ChangePassword input[type="password"],
.ChangePassword input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
    overflow: hidden;
}

.ChangePassword input[type="text"].enterOTP {
    width: 100%;
    text-align: center;
    letter-spacing: 5px;
    font-size: 1.2rem;
}

.ChangePassword input:focus {
    outline: none;
    border-color: tomato;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.3);
}

.ChangePassword button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: tomato;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ChangePassword button:disabled {
    background-color: #ffbebe;
    cursor: not-allowed;
}

.ChangePassword button:hover:not(:disabled) {
    background-color: rgb(247, 74, 43);
}

/* #error {
    color: #d9534f;
    font-size: 0.9rem;
    margin-top: -10px;
    margin-bottom: 10px;
} */

#error{
    color: red;
    font-size: 12px;
    margin: 0;
    margin-left: 5px;
    padding: 0;
}

.AfterPassUpdate{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh
}

@media (max-width: 480px) {
    .changePassword-container {
        padding: 15px;
    }

   .ChangePassword h1 {
        font-size: 1.5rem;
    }
}